<h1>Celebrities</h1>
<h2><a href="/celebrities/new">Add new celebrity</a></h2>
<ul>
  {{#each celebrities}}
  <li>
    <p>{{this.name}}</p>
    <a href="/celebrities/{{this._id}}">Detail</a>
  </li>
  {{/each}}
</ul>