<h1>Movies</h1>
{{!-- <h2><a href="/celebrities/new">Add new celebrity</a></h2> --}}
<ul>
  {{#each movies}}
  <li>
    <p>{{this.title}}</p>
    {{!-- <a href="/celebrities/{{this._id}}">Detail</a> --}}
    {{!-- <form action="/celebrities/{{this._id}}/delete" method="POST">
      <button type="submit">Delete</button>
    </form> --}}
  </li>
  {{/each}}
</ul>